<div #toolbar>
  <span class="ql-formats">
    <button class="ql-bold">Bold</button>
    <button class="ql-italic">Italic</button>
    <button class="ql-underline">Underline</button>
    <button class="ql-blockquote">Blockquote</button>
    <button class="ql-dotted">Dotted</button>
    <button class="ql-link">Link</button>
    <button class="ql-list" value="bullet">Ul</button>
  </span>
  <!-- customButton -->
  <span class="ql-formats">
    <button class="ql-customButton" [title]="'Custom Button'">
      Custom Button
    </button>
    <button class="ql-helloWorldButton" title="Add Hello World">
      Add Hello World
    </button>
    <button class="ql-insertHeaderButton" title="Insert Header">
      Insert Header
    </button>
    <button class="ql-insertNormalTextButton" title="Insert normal text">
      Insert Normal Text
    </button>
    <button class="ql-insertCustomBlotButton" title="Insert red text">
      insert Custom Blot
    </button>
  </span>
</div>
<div id="quill" #quillContainer></div>
<div #counter></div>

<h2>Content API</h2>
<section>
  <button (click)="deleteText()">Delete Text</button>
  <button (click)="getContent()">Get Content</button>
  <button (click)="getContentWithParams()">Get Content with params</button>
  <button (click)="getLength()">Get Length</button>
  <button (click)="getText()">Get Text</button>
  <button (click)="insertEmbed()">Insert Embed</button>
  <button (click)="insertText()">Insert Text</button>
  <button (click)="insertTextWithParams()">Insert Text With Params</button>
  <button (click)="setContents()">Set Contents</button>
  <button (click)="setText()">Set Text</button>
  <button (click)="updateContents()">Update Contents</button>
</section>
<h2>Format API</h2>
<section>
  <button (click)="format()">Format</button>
  <button (click)="formatLineWithSingleFormat()">
    FormatLine With Single Format
  </button>
  <button (click)="formatLineWithMultipleFormats()">
    FormatLine With Multiple Formats
  </button>
  <button (click)="formatText()">Format Text</button>
  <button (click)="getFormat()">Get Format</button>
  <button (click)="removeFormat()">Remove Format</button>
</section>

<h2>Selection</h2>
<section>
  <div>
    <button (click)="getBounds()">Get Bounds</button>
    :select some text in the editor after clicking the button
  </div>
  <button (click)="getSelection()">Get Selection</button>
  <button (click)="setSelection()">Set Selection</button>
</section>

<h2>Editor</h2>
<section>
  <button (click)="blur()">Blur</button>
  <button (click)="disable()">Disable</button>
  <button (click)="enable()">Enable</button>
  <button (click)="focus()">Focus</button>
  <button (click)="hasFocus()">Check Has Focus (console.log)</button>
</section>
Current State:
<pre
  >{{ currentState | json }}
</pre>

<h2>Model</h2>
<section>
  <button (click)="find()">Find</button>
  <button (click)="getIndex()">Get Index</button>
  <button (click)="getLeaf()">Get Leaf</button>
  <button (click)="getLine()">Get Line</button>
  <button (click)="getLines()">Get Lines</button>
</section>

<h2>Extension</h2>
<section>
  <button (click)="debug()">Debug</button>
  <button (click)="import()">Import</button>
  <button (click)="register()">Register</button>
  <button (click)="addContainer()">Add Container</button>
  <button (click)="addContainerWithNativeElement()">
    Add Container with NativeElement
  </button>
  <button (click)="getModule()">Get Module</button>
</section>

<h2>Keyboard</h2>
<section>
  <button (click)="addBinding()">Add Binding</button>
  <button (click)="addBindingWithMoreContext()">Add Binding With Context</button>
  <button (click)="addBindingWithEmpty()">Add Binding With Empty </button>
</section>

<pre *ngIf="history?.stack">
  {{ history.stack.undo.length | json }}
  {{ history.stack.redo.length | json }}
</pre>

<section id="tooltip" #tooltip>我是一個小提示</section>
<div class="ql-custom2" #custom2>This is custom2 container</div>
