<div #toolbar>
  <span class="ql-formats">
    <button class="ql-bold">Bold</button>
    <button class="ql-italic">Italic</button>
    <button class="ql-link">Link</button>
    <button class="ql-list" value="bullet">Ul</button>
  </span>
  <!-- customButton -->
  <span class="ql-formats">
    <button class="ql-customButton" [title]="'Custom Button'">
      Custom Button
    </button>
    <button class="ql-helloWorldButton" title="Add Hello World">
      Add Hello World
    </button>
    <button class="ql-insertHeaderButton" title="Insert Header">
      Insert Header
    </button>
    <button class="ql-insertNormalTextButton" title="Insert normal text">
      Insert Normal Text
    </button>
  </span>
</div>
<div id="quill" #quillContainer></div>
<div #counter></div>

Current State:
<pre
  >{{ currentState | json }}
</pre>
