<div #toolbar>
  <span class="ql-formats">
    <button class="ql-bold">Bold</button>
    <button class="ql-italic">Italic</button>
    <button class="ql-link">Link</button>
    <button class="ql-list" value="bullet">Ul</button>
  </span>
  <!-- customButton -->
  <span class="ql-formats">
    <button class="ql-customButton" [title]="'Custom Button'">
      Custom Button
    </button>
    <button class="ql-helloWorldButton" title="Add Hello World">
      Add Hello World
    </button>
    <button class="ql-insertHeaderButton" title="Insert Header">
      Insert Header
    </button>
    <button class="ql-insertNormalTextButton" title="Insert normal text">
      Insert Normal Text
    </button>
    <button class="ql-insertCustomBlotButton" title="Insert red text">
      insert Custom Blot
    </button>
  </span>
</div>
<div id="quill" #quillContainer></div>
<div #counter></div>

<h2>Content API</h2>
<div>
  <button (click)="deleteText()">Delete Text</button>
  <button (click)="getContent()">Get Content</button>
  <button (click)="getContentWithParams()">Get Content with params</button>
  <button (click)="getLength()">Get Length</button>
  <button (click)="getText()">Get Text</button>
  <button (click)="insertEmbed()">Insert Embed</button>
  <button (click)="insertText()">Insert Text</button>
  <button (click)="insertTextWithParams()">Insert Text With Params</button>
  <button (click)="setContents()">Set Contents</button>
  <button (click)="setText()">Set Text</button>
  <button (click)="updateContents()">Update Contents</button>
</div>
Current State:
<pre
  >{{ currentState | json }}
</pre>
