* {
  box-sizing: border-box;
}

.editor-container {
  border: 1px solid #ccc;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1.2em;
  height: 200px;
  margin: 0 auto;
  width: 450px;
}

::ng-deep h1, ::ng-deep h2 {
  margin-top: 0.5em;
  color: purple;
}

::ng-deep blockquote {
  border-left: 4px solid #111;
  padding-left: 1em;
}

.tooltip-controls,
.sidebar-controls {
  text-align: center;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 0;
  height: 32px;
  width: 32px;
  text-align: center;
}
button:active,
button:focus {
  outline: none;
}
